 /*------------------------------------*\
* Company: Campaign Partners, Inc.
* Project: Campaign RAMP
* Version: 1.0
* Copyright 2015. All Rights Reserved. No License Granted.
\*------------------------------------*/

/*----/ $TABLE OF CONTENTS /----*/
/*
 *----/ GENERAL ELEMENTS
 *----/----/ TAGS
 *----/----/ CLASSES
 *----/----/ BUTTONS
 *----/ BOOTSTRAP OVERWRITE
 *----/----/ NAVEGATION
 *----/ HEADER
 *----/ BODY
 *----/ FOOTER
 */







/*----/ $GENERAL ELEMENTS */
 @font-face {
  font-family: "alte_haas_groteskregular";
  src: url("../fonts/AlteHaasGroteskRegular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
 }

 @font-face {
  font-family: 'MyriadProSemibold';
  src: url('../fonts/MyriadProSemibold.eot');
  src: url('../fonts/MyriadProSemibold.eot') format('embedded-opentype'),
  url('../fonts/MyriadProSemibold.woff2') format('woff2'),
  url('../fonts/MyriadProSemibold.woff') format('woff'),
  url('../fonts/MyriadProSemibold.ttf') format('truetype'),
  url('../fonts/MyriadProSemibold.svg#MyriadProSemibold') format('svg');
 }

 @font-face {
  font-family: 'MyriadProRegular';
  src: url('../fonts/MyriadProRegular.eot');
  src: url('../fonts/MyriadProRegular.eot') format('embedded-opentype'),
  url('../fonts/MyriadProRegular.woff2') format('woff2'),
  url('../fonts/MyriadProRegular.woff') format('woff'),
  url('../fonts/MyriadProRegular.ttf') format('truetype'),
  url('../fonts/MyriadProRegular.svg#MyriadProRegular') format('svg');
 }

 @font-face {
  font-family: 'HelveticaBd';
  src: url('../fonts/HelveticaBd.eot');
  src: url('../fonts/HelveticaBd.eot') format('embedded-opentype'),
  url('../fonts/HelveticaBd.woff2') format('woff2'),
  url('../fonts/HelveticaBd.woff') format('woff'),
  url('../fonts/HelveticaBd.ttf') format('truetype'),
  url('../fonts/HelveticaBd.svg#HelveticaBd') format('svg');
 }


 /*----/----/ $TAGS */
 a {
  color: #FF9A00;
  &:hover {
   color: #FF9A00;
   text-decoration: none;
  }
 }

 h1 a,
 h1 a:hover,
 h2 a,
 h2 a:hover,
 h3 a,
 h3 a:hover,
 h4 a,
 h4 a:hover,
 h5 a,
 h5 a:hover,
 h6 a,
 h6 a:hover,{
  color: #222;
 }

 p a {
  &:hover {
   text-decoration: underline;
  }
  text-decoration: underline;
 }

 body {
  font-family: "MyriadProRegular";
  font-size: 15px;
 }

 h1, h2, h3, h4, h5, h6 {
  font-family: "HelveticaBd";
  color: #222;
  font-weight: bold;
  text-transform: uppercase;
 }

 p {
  text-align: justify;
 }

 blockquote {
  padding: 0;
  border: none;
  font-size:25px;
  margin: 30px 0;
  &:before,
  &:after {
   content: '"';
   font-size:45px;
   line-height: 0;
   font-family: "Times New Roman", Times, serif;
   font-style: italic;
  }
 }

 input {
  &.control{
   border-width: 1px;
   padding: 5px;
   color: #333;
  }
  &.white {
   border-color: #fff;
   background: transparent;
  }
 }

/*----/----/ $BUTTONS */
.btn {
 border: 1px solid #000;
 border-radius: 0;
 color:#000;
 padding: 5px 7px;
 &.white {
  border-color:#fff ;
  color: #fff;
 }
}

.btn-md {
 padding: 10px 15px;
}


/*----/----/ $BOOTSTRAP OVERWRITE */
/*----/----/----/ $NAVEGATION */
.nav {
 > li > a,
 .open > a {
  background: none;
  &:hover,
  &:focus {
   background: none;
  }
 font-size: 11px;
 font-family: "HelveticaBd";
 letter-spacing: 1px;
 }
}
/*----/----/----/ $FORMS */
.form-control {
 border: 1px solid #222;
 border-radius: 0;
}

 /*----/----/----/ $JAVASCRIPT-COMPONENTS */
 .panel-group .panel {
  border-radius: 0;
  border:1px solid #222;
 }
 .panel-default > .panel-heading {
  background-color: transparent;
  border-color: transparent;
 }

 .panel-group .panel-heading + .panel-collapse > .list-group,
 .panel-group .panel-heading + .panel-collapse > .panel-body {
  border-top: 1px solid #222;
 }

 .panel-group {
  a {
   text-decoration: none;
   &:hover {
    color: #222;
   }
  }
 }

/*----/ $HEADER */
 body > header {
  box-shadow: 0px 0px 3px 0px #333;
  position: relative;
  z-index: 10;
  .navbar-black {
   background: #000000;
   border-bottom: 1px solid #fff;
   a {
    color: #6f6f6f;
   }
   li a {
    text-transform: uppercase;
   }
   .navbar-brand img {
    height: 35px;
    margin-top: 5px;
   }
   .search {
    .search-box {
     height: 30px;
     margin-top: 10px;
    }
    i {
     position: absolute;
     right: 5px;
     top: 0px;
     font-size: 20px;
    }
   }
   .form-control {
    border-color: #6f6f6f;
    color: #6f6f6f;
    background: #000;
   }
   .socialmedia {
    margin-top: 10px;
    margin-left: 20px;
    a {
     border: 2px solid #6F6F6F;
     border-radius: 100%;
     display: block;
     width: 30px;
     height: 30px;
     text-align: center;
     line-height: 2
    }
   }
  }
  .navbar-header {
    h1 {
     margin-top: 0;
    }
    .navbar-brand {
     height: auto;
     padding: 3px 10px;
    }
   }
  .navbar-second {
   border-bottom: 1px solid #fff;
   text-transform: uppercase;
   li a {
     padding-top: 14px;
   }
   a {
    color: #000;
   }
   h1 {
    padding-top: 20px;
   }
   .submenu-black {
    li a {
      font-size: 13px;
      padding: 5px 15px;
     }
   }
   .navbar-nav {
    padding-top: 25px;
   }
   .login {
    background: #000;
    color: #fff;
    font-family: "HelveticaBd";
    font-size: 13px;
    line-height: 1;
    margin-left: 30px;
    padding: 5px;
    text-transform: uppercase;
    width: 125px;
    .title-login {
     margin-top: 5px;
     margin-bottom: 5px;
    }
    .login-options {
     .new-register {
      font-size: 10px;
      margin-bottom: 5px;
     }
    }
    a {
     color: #fff;
    }
   }
  }

}
/*----/ $BODY */
 body {
  .submenu-black {
   background: #000;
   border-radius: 0;
   li a {
    color: #fff;
   }
  }
 }
 main {

 }

/*----/----/ $HOME */
 .home {
  main {
   .events-container {
    .menu-categories {
     position: relative;
     .btn-filter {
      background: #000 none repeat scroll 0% 0%;
      position: absolute;
      padding: 15px 10.5px;
      right: -15px;
      top: 0px;
      color: #FFF;
      text-transform: uppercase;
      font-family: "HelveticaBd";
      line-height: 0;
      z-index: 100;
      font-size: 12px;
     }
     .dropdown-menu {
      top: 42px;
      left: auto;
      right: -15px;
      width: 125px;
      min-width: 0;
      li {
       padding: 5px 10px;
       a {
        padding: 0;
        color: #fff;
        text-transform: uppercase;
        font-size: 11px;
        &:hover,
        &:focus {
         background: none;
        }
       }
      }
     }
    }

    h3 {
     font-size: 24px;
    }
    .events {
     *[class*="col"]{
      overflow: hidden;
      position: relative;
      img {
       position: absolute;
       top: 0;
       left: 0;
       z-index: -1;
      }
     }
     .event {
      transition: all 0.2s ease 0.2s;
      background: rgba(23,23,23,0.6);
      border-bottom: 1px solid #fff;
      border-right: 1px solid #fff;
      height: 275px;
      &:hover {
       background: none;
      }
      &:nth-child(2n) {
       border-right: none;
      }
      &.feature {
       height: 550px;
       .tag-feature {
        position: absolute;
        right: 15px;
        top:45px;
        border: 3px solid #fff;
        font-family: "HelveticaBd";
        > div.tag-feature-title {
         background: #fff;
         color:#000;
         text-transform: uppercase;
         font-size: 13px;
        }
        > div.tag-feature-body {
         font-size: 80px;
         text-align: center;
         color: #fff;
         line-height: 0.9;
         padding-bottom: 15px;
        }
       }
      }
     }
     *[class*="col"] {
      .category {
       background: #fff;
       display: inline-block;
       font-family: "HelveticaBd";
       font-size: 14px;
       line-height: 0;
       padding: 15px 10px;
       text-transform: uppercase;
       &.letrasyliteratura {
        background: #c4cfb5;
       }
       &.interaccionsocial {
        background: #ff7200;
       }
       &.audiovisual{
        background:#836981;
       }
       &.musica{
        background:#efdeb4;
       }
       &.artesvisuales {
        background: #e89cdb;
       }
       &.artesescenicas {
        background: #95B2D2;
       }
       &.arquitectura {
        background:#f3bc3a;
       }
      }
      .events-summary {
       bottom: 0;
       position: absolute;
       padding-bottom: 10px;
       width: 95%;
       a, p {
        color: #fff;
       }
       .btn {
        font-family: "HelveticaBd";
        font-size: 15px;
        text-transform: lowercase;
       }
      }
     }
    }
    .more-events {
     margin: 20px 0px;
     font-family: "HelveticaBd";
     font-size: 15px;
     text-transform: uppercase;
    }
   }
  }
 }

/*----/----/ $EVENT */
.event {
 .event-details {
  font-size: 14px;
  li {
   overflow: hidden;
   margin-bottom: 5px;
   > * {
    display: inline-block;
   }
  }
  .detail {
   font-size: 13px;
   text-transform: uppercase;
  }
 }
}
// .post {
//  .post-container {
//   > .col-md-1 {
//    width: 50px;
//    padding-top: 20px;
//    font-size: 30px;
//    padding-right: 0;
//   }
//   .tags-social {
//    a {
//     color: #222;
//    }
//    .tags li {
//     padding: 0px 10px;
//     border-right: 1px solid #222;
//     line-height: 1;
//     font-family: "HelveticaBd";
//     text-transform: uppercase;
//     font-size: 12px;
//     &:last-child {
//      border: none;
//     }
//    }
//    .social a {
//     font-size:25px ;
//    }
//   }
//  }
//  .last-events {
//   li {
//    list-style: none;
//    figure {
//     height: 150px;
//     overflow: hidden;
//     img {
//      width: 100%;
//     }
//    }
//   }
//   h3 {
//    font-size: 16px;
//   }
//  }
// }

/*----/ $FOOTER */
body > footer {
 text-transform: uppercase;
 a {
  color: #fff;
 }
 .options-footer {
  background: #000;
  color: #fff;
  padding-top: 15px;
  padding-bottom: 0px;
  a {
   font-size: 12px;
   font-weight: bold;
  }
  button {
   background: transparent;
  }
  h2 {
   font-size: 12px;
   color: #fff;
   margin-top: 0;
  }
  ul.menu {
   padding-left: 15px;
   list-style: none;
   li {
    position: relative;
   }
   li:before {
    content: "";
    border-color: transparent #fff;
    border-style: solid;
    border-width: 0.35em 0 0.35em 0.45em;
    display: inline-block;
    height: 0;
    width: 0;
    left: -1em;
    top: 5px;
    position: absolute;
   }

  }
 }
 .menu-footer {
  border-bottom: 1px solid #fff;
 }
 .last {
  font-size: 12px;
  padding-bottom: 5px;
  padding-top: 5px;
  a {
   color: #333;
  }
  .copying {
   padding-top: 5px;
   img {
    height: 20px;
   }
  }
 }
}




